[Unit]
Description=Shinemonitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u main.py
WorkingDirectory=/opt/shinemonitor
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
